@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 1200px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  min-width: 1200px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0 70px 0 238px;
  position: relative;
}

.navigation-user .navigation-item {
  margin: 0;
}

.hero {
  background-color: indigo;
  background-image:  url("../images/icons/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 79px;
  background-position-y: bottom;
  background-size: 1200px 57px, cover;
}

.navigation-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.navigation-link.active::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #756257;
  position: absolute;
  bottom: 0;
  left: 0;
}



.navigation-link:hover {
  color: #000000;
  opacity: 0.7;
}

.navigation-link-icon {
  display: block;
  width: 44px;
  height: 64px;
  position: relative;
}

.navigation-link-icon:hover{
  opacity: 0.7;
}

.navigation-link-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-icon-like::after {
  background-image: url("../images/icons/heart.svg");
}

.navigation-link-icon-search::after {
  background-image: url("../images/icons/search.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-item {
  margin-left: 16px;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  margin-left: auto;
  margin-right: 20px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}

.btn-brown {
  background: #756157;
}

.btn-brown:hover {
  background-color: #615048;
}

.btn-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn-blue {
  background: #82b3d3;
}

.btn-blue:hover {
  background-color: #68A2CA;
}
.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.btn:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
  cursor: no-drop;
}

.navigation-btn {
  padding: 8px 34px;
}

.navigation-like {
  position: absolute;
  top: 11px;
  right: 4px;
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
  padding-top: 5px;
  z-index: 1;
}

.navigation-link-icon {
  text-decoration: none;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
}
.benefits-title{
  margin: 0;
}

.benefits-subtitle {
  margin: 0;
  margin-top: 25px;
}

.benefits-head{
  padding: 69px 250px 90px 250px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.benefits-item {
  padding: 112px 85px;
}

.benefits-item-description {
  margin-bottom: 0;
}

.benefits-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 30px;
}

.benefits-item-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  background-color:rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.benefits-item-blue .benefits-item-title::before {
  background: rgba(255, 255, 255, 0.3);

}

.benefits-item-blue {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.benefits-item-blue img {
  vertical-align: bottom;
}

.benefits-item-wrapper {
  padding: 102px 85px;
}

.benefits-item-reverse {
  flex-direction: row-reverse;
}

.benefits-item-blue img {
  width: 800px;
}

.benefits-item-wrapper {
  width: 400px;
}

.benefits-item-white {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.benefits-item-gray {
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.benefits-item-blue .benefits-item-title {
  color: #ffffff;
}

.quality-header {
  padding: 64px 340px;
}

.quality-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.quality-subtitle {
  margin: 0;
}

.quality-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.quality-item-description {
  margin: 0;
}

.quality-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  flex-wrap: wrap;
}

.quality-item {
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 183px;
  padding-bottom: 81px;
  position: relative;
}

.quality-item-gray {
  background: rgba(131, 179, 211, 0.12);
}

.search {
  padding: 96px 290px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.search-btn {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.subscribe {
  background-color: #8fabb8;
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  padding: 96px 258px 104px;
  background-size: cover;
}

.subscribe-title {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0 75px;
}

.subscribe-btn {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0px 4px 4px 0px;
}

.form {
  display: flex;
}

.form-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 452px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;
  padding-left: 20px;
}

.form-input:hover {
  background: #E6E6E6;
}

.subscribe-btn {
  width: 232px;
  padding: 8px;
}

.form-input::placeholder {
  opacity: 0.6;
  color: #000000;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.social-link {
  display: block;
  width: 47px;
  height: 40px;
  position: relative;
}

.social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link:hover path {
  fill: #68A2CA;
}

.social-link:active path {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.quality-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  top: 81px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* чтоб иконка изображения помещалась */
}

.quality-item-home::before {
  background-image: url("../images/icons/home.svg");
}

.quality-item-burger::before {
  background-image: url("../images/icons/food.svg");
}

.quality-item-gift::before {
  background-image: url("../images/icons/gift.svg");
}

.logo-academy:hover path {
  fill: #756157;
}

.logo-academy:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  text-align: left;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/icons/close-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 35px;
  margin-bottom: 64px;
}

.form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.form-submit {
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 18px;
}

.field {
  height: 48px;
  background: #F2F2F2;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: inherit;
  border: 2px solid transparent;
  -moz-appearance: textfield;
  flex-shrink: 0;
}

.date-form-field {
  width: 440px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 45px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 14px;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field-wrapper {
  position: relative;
}

.number-form-field {
  width: 110px;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
  position: relative;
}

.alert {
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  top: 50px;
  left: 157px;
}

.error {
  color: #FF5757;
}

.number-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 247px;
}

.number-group-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.number-group-children {
  width: 242px;
}

.btn-icon {
  width: 20px;
  height: 20px;
  background-color: #F2F2F2;
  border: none;
  position: absolute;
  top: 14px;
}

.btn-minus {
  left: 10px;
}

.btn-plus {
  right: 10px;
}

.btn-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  opacity: 0.7;
}

.tooltip-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  display: block;
  width: 256px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/icons/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-close {
  display: none;
}

/* .navigation-link-icon {
  display: block;
  width: 44px;
  height: 64px;
  outline: 1px solid green;
  position: relative;
}

.navigation-link-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-icon-like::after {
  background-image: url("../images/icons/heart.svg");
}

.navigation-link-icon-search::after {
  background-image: url("../images/icons/search.svg");
} */



